<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.coach.dao.CoachClubDao">

	<select id="get" resultType="com.bootdo.coach.domain.CoachClubDO">
		select `coach_id`,`coach_name`,`tel`,`nick_name` ,`type`,group_concat(`club_name`) as `club_name`,`status`,`registration_time` from v_coach_club where coach_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.coach.domain.CoachClubDO">
		select `coach_id`,`coach_name`,`tel`,`nick_name`,`type`,group_concat(`club_name`) as `club_name`,`status`,`registration_time` from v_coach_club
        <where>  
		  		  <if test="coachId != null and coachId != ''"> and coach_id = #{coachId} </if>
		  		  <if test="coachName != null and coachName != ''"> and coach_name = #{coachName} </if>
		  		  <if test="tel != null and tel != ''"> and tel = #{tel} </if>
		  		  <if test="nickName != null and nickName != ''"> and nick_name = #{nickName} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="clubName != null and clubName != ''"> and club_name = #{clubName} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="registrationTime != null and registrationTime != ''"> and registration_time = #{registrationTime} </if>
		  		</where>
		group by `coach_id`
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by coach_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from v_coach_club
		 <where>  
		  		  <if test="coachId != null and coachId != ''"> and coach_id = #{coachId} </if>
		  		  <if test="coachName != null and coachName != ''"> and coach_name = #{coachName} </if>
		  		  <if test="tel != null and tel != ''"> and tel = #{tel} </if>
		  		  <if test="nickName != null and nickName != ''"> and nick_name = #{nickName} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="clubName != null and clubName != ''"> and club_name = #{clubName} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="registrationTime != null and registrationTime != ''"> and registration_time = #{registrationTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.coach.domain.CoachClubDO">
		insert into v_coach_club
		(
			`coach_id`, 
			`coach_name`, 
			`tel`, 
			`nick_name`, 
			`type`, 
			`club_name`, 
			`status`, 
			`registration_time`
		)
		values
		(
			#{coachId}, 
			#{coachName}, 
			#{tel}, 
			#{nickName}, 
			#{type}, 
			#{clubName}, 
			#{status}, 
			#{registrationTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.coach.domain.CoachClubDO">
		update v_coach_club 
		<set>
			<if test="coachName != null">`coach_name` = #{coachName}, </if>
			<if test="tel != null">`tel` = #{tel}, </if>
			<if test="nickName != null">`nick_name` = #{nickName}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="clubName != null">`club_name` = #{clubName}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="registrationTime != null">`registration_time` = #{registrationTime}</if>
		</set>
		where coach_id = #{coachId}
	</update>
	
	<delete id="remove">
		delete from v_coach_club where coach_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from v_coach_club where coach_id in 
		<foreach item="coachId" collection="array" open="(" separator="," close=")">
			#{coachId}
		</foreach>
	</delete>

</mapper>