<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.coach.dao.CoachDao">

	<select id="get" resultType="com.bootdo.coach.domain.CoachDO">
		select `coach_Id`,`no`,`name`,`nick_name`,`age`,`tel`,`height`,`weight`,`birthday`,`sex`,`icon`,`score`,`comment`,`type`,`introduction`,`registration_time`,`status` from coach where coach_Id = #{value}
	</select>

	<select id="list" resultType="map">
		select a.coach_Id as coachId,a.name,a.nick_name as nickName,a.tel,a.registration_time as registrationTime,a.`type`,a.status,group_concat(distinct c.name) as clubName from coach as a
		left join course as b on a.coach_id=b.coach_id
		left join club as c on b.club_id=c.club_id
        <where>
		  		  <if test="coachId != null and coachId != ''"> and a.coach_Id = #{coachId} </if>
		  		  <if test="name != null and name != ''"> and a.name = #{name} </if>
		  		  <if test="nickName != null and nickName != ''"> and a.nick_name = #{nickName} </if>
		  		  <if test="tel != null and tel != ''"> and a.tel = #{tel} </if>
		  		  <if test="type != null and type != ''"> and a.type = #{type} </if>
		  		  <if test="registrationTime != null and registrationTime != ''"> and a.registration_time = #{registrationTime} </if>
		  		  <if test="status != null and status != ''"> and a.status = #{status} </if>
		  		</where>
		group by a.coach_Id
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by a.coach_Id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from coach
		<where>
			<if test="coachId != null and coachId != ''"> and a.coach_Id = #{coachId} </if>
			<if test="name != null and name != ''"> and a.name = #{name} </if>
			<if test="nickName != null and nickName != ''"> and a.nick_name = #{nickName} </if>
			<if test="tel != null and tel != ''"> and a.tel = #{tel} </if>
			<if test="type != null and type != ''"> and a.type = #{type} </if>
			<if test="registrationTime != null and registrationTime != ''"> and a.registration_time = #{registrationTime} </if>
			<if test="status != null and status != ''"> and a.status = #{status} </if>
		</where>
	</select>
	 <select id="courseList" resultType="map">
		select a.course_id as courseId,a.name as courseName,a.price as price,b.club_id as clubId,b.name as clubName
		 from course a,club b where a.club_id=b.club_Id  and  a.coach_id=#{coach_id}
	 </select>
	<select id="courseCount">
		select count(*) from course where coach_id=#{coach_id}
	</select>
	<insert id="save" parameterType="com.bootdo.coach.domain.CoachDO">
		insert into coach
		(
			`coach_Id`, 
			`no`, 
			`name`, 
			`nick_name`, 
			`age`, 
			`tel`, 
			`height`, 
			`weight`, 
			`birthday`, 
			`sex`, 
			`icon`, 
			`score`, 
			`comment`, 
			`type`, 
			`introduction`, 
			`registration_time`, 
			`status`
		)
		values
		(
			#{coachId}, 
			#{no}, 
			#{name}, 
			#{nickName}, 
			#{age}, 
			#{tel}, 
			#{height}, 
			#{weight}, 
			#{birthday}, 
			#{sex}, 
			#{icon}, 
			#{score}, 
			#{comment}, 
			#{type}, 
			#{introduction}, 
			#{registrationTime}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.coach.domain.CoachDO">
		update coach 
		<set>
			<if test="no != null">`no` = #{no}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="nickName != null">`nick_name` = #{nickName}, </if>
			<if test="age != null">`age` = #{age}, </if>
			<if test="tel != null">`tel` = #{tel}, </if>
			<if test="height != null">`height` = #{height}, </if>
			<if test="weight != null">`weight` = #{weight}, </if>
			<if test="birthday != null">`birthday` = #{birthday}, </if>
			<if test="sex != null">`sex` = #{sex}, </if>
			<if test="icon != null">`icon` = #{icon}, </if>
			<if test="score != null">`score` = #{score}, </if>
			<if test="comment != null">`comment` = #{comment}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="introduction != null">`introduction` = #{introduction}, </if>
			<if test="registrationTime != null">`registration_time` = #{registrationTime}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where coach_Id = #{coachId}
	</update>
	
	<delete id="remove">
		delete from coach where coach_Id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from coach where coach_Id in 
		<foreach item="coachId" collection="array" open="(" separator="," close=")">
			#{coachId}
		</foreach>
	</delete>
	<select id="getListByIds"  resultType="com.bootdo.base.domain.KeyValueBeanVo" >
		select
		coach_Id AS 'key',
		name AS value
		from  coach
		where 1=1
		and  coach_Id  in
		<foreach collection="coachIds" item="item" index="index"
				 open="(" close=")" separator=",">
			#{item}
		</foreach>

	</select>

	<select id="getCoachAll" resultType="com.bootdo.base.domain.KeyValueBeanVo">
       SELECT
			coach_Id as 'key',
			`name` as 'value'
		FROM
			coach
		GROUP BY
			coach_Id,
			`name`

	</select>




</mapper>