<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.coach.dao.CoachDao">

	<select id="get" resultType="com.bootdo.coach.domain.CoachDO">
		select `coach_Id`,`no`,`name`,`nick_name`,`age`,`tel`,`height`,`weight`,`birthday`,`sex`,`icon`,`score`,`comment`,`type`,`introduction`,`registration_time`,`status` from coach where coach_Id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.coach.domain.CoachDO">
		select `coach_Id`,`no`,`name`,`nick_name`,`age`,`tel`,`height`,`weight`,`birthday`,`sex`,`icon`,`score`,`comment`,`type`,`introduction`,`registration_time`,`status` from coach
        <where>  
		  		  <if test="coachId != null and coachId != ''"> and coach_Id = #{coachId} </if>
		  		  <if test="no != null and no != ''"> and no = #{no} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="nickName != null and nickName != ''"> and nick_name = #{nickName} </if>
		  		  <if test="age != null and age != ''"> and age = #{age} </if>
		  		  <if test="tel != null and tel != ''"> and tel = #{tel} </if>
		  		  <if test="height != null and height != ''"> and height = #{height} </if>
		  		  <if test="weight != null and weight != ''"> and weight = #{weight} </if>
		  		  <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="icon != null and icon != ''"> and icon = #{icon} </if>
		  		  <if test="score != null and score != ''"> and score = #{score} </if>
		  		  <if test="comment != null and comment != ''"> and comment = #{comment} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="introduction != null and introduction != ''"> and introduction = #{introduction} </if>
		  		  <if test="registrationTime != null and registrationTime != ''"> and registration_time = #{registrationTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by coach_Id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from coach
		 <where>  
		  		  <if test="coachId != null and coachId != ''"> and coach_Id = #{coachId} </if>
		  		  <if test="no != null and no != ''"> and no = #{no} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="nickName != null and nickName != ''"> and nick_name = #{nickName} </if>
		  		  <if test="age != null and age != ''"> and age = #{age} </if>
		  		  <if test="tel != null and tel != ''"> and tel = #{tel} </if>
		  		  <if test="height != null and height != ''"> and height = #{height} </if>
		  		  <if test="weight != null and weight != ''"> and weight = #{weight} </if>
		  		  <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="icon != null and icon != ''"> and icon = #{icon} </if>
		  		  <if test="score != null and score != ''"> and score = #{score} </if>
		  		  <if test="comment != null and comment != ''"> and comment = #{comment} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="introduction != null and introduction != ''"> and introduction = #{introduction} </if>
		  		  <if test="registrationTime != null and registrationTime != ''"> and registration_time = #{registrationTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.coach.domain.CoachDO">
		insert into coach
		(
			`coach_Id`, 
			`no`, 
			`name`, 
			`nick_name`, 
			`age`, 
			`tel`, 
			`height`, 
			`weight`, 
			`birthday`, 
			`sex`, 
			`icon`, 
			`score`, 
			`comment`, 
			`type`, 
			`introduction`, 
			`registration_time`, 
			`status`
		)
		values
		(
			#{coachId}, 
			#{no}, 
			#{name}, 
			#{nickName}, 
			#{age}, 
			#{tel}, 
			#{height}, 
			#{weight}, 
			#{birthday}, 
			#{sex}, 
			#{icon}, 
			#{score}, 
			#{comment}, 
			#{type}, 
			#{introduction}, 
			#{registrationTime}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.coach.domain.CoachDO">
		update coach 
		<set>
			<if test="no != null">`no` = #{no}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="nickName != null">`nick_name` = #{nickName}, </if>
			<if test="age != null">`age` = #{age}, </if>
			<if test="tel != null">`tel` = #{tel}, </if>
			<if test="height != null">`height` = #{height}, </if>
			<if test="weight != null">`weight` = #{weight}, </if>
			<if test="birthday != null">`birthday` = #{birthday}, </if>
			<if test="sex != null">`sex` = #{sex}, </if>
			<if test="icon != null">`icon` = #{icon}, </if>
			<if test="score != null">`score` = #{score}, </if>
			<if test="comment != null">`comment` = #{comment}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="introduction != null">`introduction` = #{introduction}, </if>
			<if test="registrationTime != null">`registration_time` = #{registrationTime}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where coach_Id = #{coachId}
	</update>
	
	<delete id="remove">
		delete from coach where coach_Id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from coach where coach_Id in 
		<foreach item="coachId" collection="array" open="(" separator="," close=")">
			#{coachId}
		</foreach>
	</delete>

</mapper>